/* Cabeçalho */
.menu {
  width: 100%;
  height: 50px;
  background: #515cb0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Jogo */
main {
  background: #17344b;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 10px 15px -10px #000;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  gap: 30px;
}

.game {
  /* border: 1px solid red; */
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
  --webkit-user-select: none;
  user-select: none;
}

.item {
  position: relative;
  width: calc(25% - 7.5px); /* 4 colunas com gap de 10px */
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  font-size: 55px;
  transform: rotateY(180deg);
  transition: 0.5s;
}
@media (max-width: 500px) {
  .item {
    width: calc(33.333% - 6.66px); /* 3 colunas no mobile */
  }
}

.item::after {
  /* opacity: 0.85; */
  content: "";
  border-radius: 5px;
  position: absolute;
  inset: 0;
  background: #72acdc;
  transition: 0.5s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}

.reset {
  width: 100%;
  height: 50px;
  background-color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  color: #0c2437;
  font-weight: 600;
  cursor: pointer;
}
.reset:focus {
  background: #c9cbec;
}

/* Rodapé */
footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0c2437;
  color: #fff;
  font-size: 10px;
  margin-bottom: 0;
  margin-top: 35px;
}

/* Geral */
body {
  background: #c4d3f6;
}
